# Игнорируем файлы environments
.env

# Игнорируем файлы GitHub
.git/

# Игнорируем файлы, созданные IDE
.idea/
.vscode/

# Игнорируем кэши и временные файлы
__pycache__/
*.pyc
venv/
node_modules/

# Игнорируем документацию и логи
docs/
logs/
